.modal-container {
    width: 50rem;
    height: 30rem;
    border-radius: 1rem;
    background-color: var(--mr-warning-alert-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    position: relative;
}

.modal-head {
    font-size: 2rem;
    font-weight: 600;
}

.modal-text {
    font-size: 1.5rem;
}

.modal-buttons {
    display: flex;
    column-gap: 5rem;
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 3rem;
    cursor: pointer;
}