:root{
    --mr-primary-color:#2970F5;
    --mr-dark-primary:#3D4A87;
    --mr-light-primary:#407FF6;
    --mr-text-color: #352D39;
    --mr-light-text-color:#3D3B3E;
    --mr-dark-text-color:#252028;
}